@font-face {
    font-family: 'DigitalFont';
    src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff') format("woff"),
    url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff2') format("woff2"),
    url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Casino';
    src: url('../fonts/casino/CasinoShadow-Italic.ttf') format("truetype");
}

* {
    box-sizing: border-box;
}

html{
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding: 20px;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.container {
    background: black;
    margin: auto;
    width: 730px;
    border: 15px solid black
}

#header{
    margin-bottom: 15px;
    background: black;
    border: 3px solid #e4a203;
    text-align: center;
}

#footer{
    margin-top: 15px;
    height: 200px;
}

#logo{
    font-family: 'Casino';
    font-size: 77px;
    color: #e4a203;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: #e4a203; }
    50% { color: #f4d115; }
    100% { color: #e4a203; }
}