@font-face {
    font-family: 'DigitalFont';
    src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff') format("woff"),
    url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff2') format("woff2"),
    url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Casino';
    src: url('../fonts/casino/CasinoShadow-Italic.ttf') format("truetype");
}

* {
    font-family: 'DigitalFont';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding: 20px;
}

.container {
    background: black;
    margin: auto;
    width: 730px;
    border: 15px solid black
}

.gradientBackground{
    background: rgb(255,254,225);
    background: -moz-radial-gradient(circle, rgba(255,254,225,1) 0%, rgba(252,252,252,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,254,225,1) 0%, rgba(252,252,252,1) 100%);
    background: radial-gradient(circle, rgba(255,254,225,1) 0%, rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffee1",endColorstr="#fcfcfc",GradientType=1);

}

.gradientCreditBackground{
    background: rgb(55,55,55);
    background: -moz-radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(28,28,28,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(28,28,28,1) 100%);
    background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#373737",endColorstr="#1c1c1c",GradientType=1);
}

#screenContainer{
    width: 700px;
    border-top: 50px solid #b96a03;
    border-left: 50px solid #e4a203;
    border-right: 50px solid #e4a203;
    border-bottom: 80px solid #f4d115;
}

.fontFaceTest{
    color: white;
    font-family: 'DigitalFont', Arial, sans-serif;
}

#canvasContainer{
    outline: 5px solid black;
    outline-offset: -5px;
    -webkit-box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 17px 4px rgba(0,0,0,0.75);
}

#header{
    margin-bottom: 15px;
    background: black;
    border: 3px solid #e4a203;
    text-align: center;
}

#footer{
    margin-top: 15px;
    height: 200px;
}

#logo{
    font-family: 'Casino';
    font-size: 77px;
    color: #e4a203;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: #e4a203; }
    50% { color: #f4d115; }
    100% { color: #e4a203; }
}

.buttonPanel{
    position: relative;
    top: 50px;
    text-align: center;
}
.button {
    font-family: Consolas;
    display: inline-block;
    padding: 10px 18px;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
