.starter{
    width: 650px;
    margin: 0 auto;
}

.key{
    width:  250px;
    height: 250px;
    background-color: rgb(63,83,112);
    float: left;
}

.case{
    width: 300px;
    height: 250px;
    background-color: rgb(63,83,112);
    float: left;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 125px 0 125px 50px;
    border-color: transparent transparent transparent rgb(63,83,112);
    float: left;
}

.moved{
    position: relative;
    right: -50px;
    border-color: transparent transparent transparent rgb(186, 197, 210);
}

.clear{
    clear:both;
}

.cardList {
    height: 160px;
    width: 600px;
    position: relative;
    margin-top: 15px;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    text-align: center;
    height: 160px;
    width: 200px;
    line-height: 35px;
    background-color: #99e;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    color: #fff;
    border-right: 1px solid black;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.box{
    display: inline-block;
    text-align: center;
    height: 160px;
    width: 200px;
    line-height: 35px;
    background-color: #99e;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    color: #fff;
    border-right: 1px solid black;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.card_wrapper{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 10px 3px 0px 0px;
}

.box_wrapper{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 10px 3px 0px 0px;
}

.key > .card_wrapper{
    margin-top: 40px;
    margin-left: 25px;
}

.case > .card_wrapper{
    margin-top: 40px;
    margin-left: 75px;
}

.cardList::before,
.cardList::after {
    content: '';
    display: block;
    z-index: 100;
    width: 0px;
    height: 0px;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.cardList::before {
    position: absolute;
    top: 0px;
    left: 50%;
    border-top: 20px solid black;
}

.other{
    background: rgba(128,137,150,1);
    background: -moz-linear-gradient(left, rgba(128,137,150,1) 0%, rgba(56,63,72,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,137,150,1)), color-stop(100%, rgba(56,63,72,1)));
    background: -webkit-linear-gradient(left, rgba(128,137,150,1) 0%, rgba(56,63,72,1) 100%);
    background: -o-linear-gradient(left, rgba(128,137,150,1) 0%, rgba(56,63,72,1) 100%);
    background: -ms-linear-gradient(left, rgba(128,137,150,1) 0%, rgba(56,63,72,1) 100%);
    background: linear-gradient(to right, rgba(128,137,150,1) 0%, rgba(56,63,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808996', endColorstr='#383f48', GradientType=1 );
    width: 200px;
}

.common {
    background: rgba(61,93,210,1);
    background: -moz-linear-gradient(left, rgba(61,93,210,1) 0%, rgba(44,56,106,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,93,210,1)), color-stop(100%, rgba(44,56,106,1)));
    background: -webkit-linear-gradient(left, rgba(61,93,210,1) 0%, rgba(44,56,106,1) 100%);
    background: -o-linear-gradient(left, rgba(61,93,210,1) 0%, rgba(44,56,106,1) 100%);
    background: -ms-linear-gradient(left, rgba(61,93,210,1) 0%, rgba(44,56,106,1) 100%);
    background: linear-gradient(to right, rgba(61,93,210,1) 0%, rgba(44,56,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5dd2', endColorstr='#2c386a', GradientType=1 );
    width: 200px;
}
.rare {
    background: rgba(115,84,209,1);
    background: -moz-linear-gradient(left, rgba(115,84,209,1) 0%, rgba(62,53,99,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(115,84,209,1)), color-stop(100%, rgba(62,53,99,1)));
    background: -webkit-linear-gradient(left, rgba(115,84,209,1) 0%, rgba(62,53,99,1) 100%);
    background: -o-linear-gradient(left, rgba(115,84,209,1) 0%, rgba(62,53,99,1) 100%);
    background: -ms-linear-gradient(left, rgba(115,84,209,1) 0%, rgba(62,53,99,1) 100%);
    background: linear-gradient(to right, rgba(115,84,209,1) 0%, rgba(62,53,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7354d1', endColorstr='#3e3563', GradientType=1 );
    width: 200px;
}

.unreal{
    background: rgba(181,82,183,1);
    background: -moz-linear-gradient(left, rgba(181,82,183,1) 0%, rgba(91,51,93,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,82,183,1)), color-stop(100%, rgba(91,51,93,1)));
    background: -webkit-linear-gradient(left, rgba(181,82,183,1) 0%, rgba(91,51,93,1) 100%);
    background: -o-linear-gradient(left, rgba(181,82,183,1) 0%, rgba(91,51,93,1) 100%);
    background: -ms-linear-gradient(left, rgba(181,82,183,1) 0%, rgba(91,51,93,1) 100%);
    background: linear-gradient(to right, rgba(181,82,183,1) 0%, rgba(91,51,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b552b7', endColorstr='#5b335d', GradientType=1 );
    width: 200px;
}

.mythical {
    background: rgba(205,83,61,1);
    background: -moz-linear-gradient(left, rgba(205,83,61,1) 0%, rgba(93,55,50,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205,83,61,1)), color-stop(100%, rgba(93,55,50,1)));
    background: -webkit-linear-gradient(left, rgba(205,83,61,1) 0%, rgba(93,55,50,1) 100%);
    background: -o-linear-gradient(left, rgba(205,83,61,1) 0%, rgba(93,55,50,1) 100%);
    background: -ms-linear-gradient(left, rgba(205,83,61,1) 0%, rgba(93,55,50,1) 100%);
    background: linear-gradient(to right, rgba(205,83,61,1) 0%, rgba(93,55,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd533d', endColorstr='#5d3732', GradientType=1 );
    width: 200px;
}

.legendary {
    background: rgba(162,122,1,1);
    background: -moz-linear-gradient(left, rgba(162,122,1,1) 0%, rgba(73,63,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(162,122,1,1)), color-stop(100%, rgba(73,63,35,1)));
    background: -webkit-linear-gradient(left, rgba(162,122,1,1) 0%, rgba(73,63,35,1) 100%);
    background: -o-linear-gradient(left, rgba(162,122,1,1) 0%, rgba(73,63,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(162,122,1,1) 0%, rgba(73,63,35,1) 100%);
    background: linear-gradient(to right, rgba(162,122,1,1) 0%, rgba(73,63,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a27a01', endColorstr='#493f23', GradientType=1 );
    width: 200px;
}

.info{
    position: relative;
    top: 125px;
    height: 100px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
